@charset "utf-8";

@font-face {
     font-family: Montserrat;
     src: url('../fonts/Montserrat-Regular.otf');
}

body{
     font-family: Montserrat;
	 color:rgba(106,106,106,1.00);;
}

.ico{
	padding:15px;
	border: 0px;
}

.ico:hover, .ico:active, .ico:focus{
	background-color:transparent !important;
}

.traco{
	background-color:rgba(0,106,177,1) !important;	
	width:3rem !important;
	height:0.2rem !important;
}

.item{
	margin-top:1rem;
	color:rgba(0,106,177,1.00) !important;
}
.texto-menu a{
    transition: 0.5s;
	font-size:1.8rem;
	color:rgba(0,106,177,1.00) !important;
	margin-top:2rem;
}
/*.texto-menu a:hover{	
    transition: 0.5s;
	-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.5);
}*/

.navbar-unigranrio{
	background-color:rgba(255,202,0,1.00);
	color:rgba(255,255,255,1.00);
	font-size:1.2rem;
	cursor:pointer;
	padding:1rem;
}
@media (min-width: 768px) {
.navbar-unigranrio{	
	background-color:rgba(255,202,0,1.00);
	color:rgba(255,255,255,1.00);
	font-size:2.5rem;
	cursor:pointer;
	padding:1rem;
} 
}
.navbar{
	margin-bottom: -0.5rem;
}
.nav-img{
	display:block;
	height:20%;
}

.div-img{
	padding:0px;
	height:100%;
}

.txt{
	padding-right:2rem;
	position:relative;
	margin-top:-70%;
	margin-right:7%;
	color:rgba(255,255,255,1.00);
	border-right: solid 5px rgba(255,202,0,1.00);
	cursor:default;	
}
.txt2{
	padding-left:2rem;
	position:relative;
	margin-top:-70%;
	margin-left:7%;
	color:rgba(255,255,255,1.00);
	border-left: solid 5px rgba(255,202,0,1.00);
	cursor:default;	
}

@media (min-width: 768px) {
.txt, .txt2{	
	margin-bottom:52%;	
} 
}

.sem-margem{
	margin-left:-40px;
}

.img1{
  display: block;
  width: 100%;
  max-height: 100%;
  background-position:center;
  transition: 0.5s;
}

.img1:hover{
	transition: 0.5s;
	-ms-transform: scale(1.05, 1.05);
	/* IE 9 */
	-webkit-transform: scale(1.05, 1.05);
	/* Safari */
	transform: scale(1.05, 1.05);
	z-index: 1000;
	
	-webkit-box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
	-moz-box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
	box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
}

.navbar-apresentacao{
	background-size:cover;
	background-position:center; 
	background-repeat:no-repeat; 
	background-color:#ebf0f6;
	}
.apresentacao{
	text-align:center;
	color:rgba(106,106,106,1.00);
	line-height:3rem;
	margin-top:5rem;	
	margin-bottom:5rem;
	
}

.strong-borda{
	line-height:6rem;
	border-bottom: solid 5px rgba(255,202,0,1.00);
}

.video-texto{
	width:77%;
	margin-top:5rem;
	margin-bottom:5rem;
	text-align:justify;
	color:rgba(106,106,106,1.00);
}

.texto-cor{
	 color:rgba(0,106,177,1.00);
}

.texto-area{
	color:rgba(106,106,106,1.00);
}

.caixa-text{
	background-color:rgba(0,142,206,1.00);
	color:rgba(255,255,255,1.00);
	padding:4rem;
	margin-top:3rem;
	margin-bottom:3rem;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size:18px;
}

.bot{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.n{
	overflow:hidden;
}

.pq{
	background-color:rgba(255,202,0,1.00);
	padding:8rem;	
	transition: 0.5s;
	cursor:default;
	color:rgba(106,106,106,1.00);
}
.pq:hover {
	transition: 0.5s;
	-ms-transform: scale(1.08, 1.08);
	/* IE 9 */
	-webkit-transform: scale(1.08, 1.08);
	/* Safari */
	transform: scale(1.08, 1.08);
	z-index: 1000;
}
.pq2{
	background-color:rgba(255,172,0,1.00);
}

.poiter{
	cursor:pointer;
}

.navbar-rodape{
    background-color: #E4DEDE;
	padding:2rem;
}
.navbar-rodape a{
	    color: rgba(106,106,106,1.00);
}

.img-rodape{
	position:relative;
	margin-top:14rem;
	margin-bottom:11rem;
	max-width:250px;
}

.icon{
	position:relative;
	margin-top:25%;
	margin-bottom:25%;
	margin-left:10%;
	cursor:pointer;
}

.navbar-rodape2{
	background-color: #3a3a3a;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem;
}
.navbar-rodape2 a{
    color: #fff;
}

.prof{
	min-height: 80px;
}