@charset "utf-8";

@font-face {
     font-family: Montserrat;
     src: url('../fonts/Montserrat-Regular.otf');
}

body{
     font-family: Montserrat;
}
.navbar-unigranrio{
	background-color:rgba(255,202,0,1.00);
	color:rgba(255,255,255,1.00);
	font-size:2.5rem;
	cursor:pointer;
	padding:1rem;
	z-index: 10;
    border-bottom: 0px;
}
.navbar{
	margin-bottom: -1.2rem;
}
.nav-img{
	display:block;
	height:20%;
}

.div-img{
	padding:0px;
	height:100%;
}

.cor:before {
	background:#5cb85c !important;
}
.cor{

}
.cor:after {
	background:rgba(255,202,0,1.00) !important;
}

.txt{
	padding-right:2rem;
	position:relative;
	margin-top:-70%;
	margin-right:7%;
	color:rgba(255,255,255,1.00);
	border-right: solid 5px rgba(255,202,0,1.00);
	cursor:default;
}
.txt2{
	padding-left:2rem;
	position:relative;
	margin-top:-70%;
    margin-left: 2rem;
    margin-bottom: 2rem;
	color:rgba(255,255,255,1.00);
	border-left: solid 5px rgba(255,202,0,1.00);
	cursor:default;
}

@media (min-width: 768px) {
.txt, .txt2{
	margin-bottom:52%;
}
}

.sem-margem{
	margin-left:-40px;
}

.img1{
  display: block;
  width: 100%;
  /*height:95vh;*/
  min-height: 100%;
  background-position:center;
  transition: 0.5s;
}

.img1:hover{
	transition: 0.5s;
	-ms-transform: scale(1.05, 1.05);
	/* IE 9 */
	-webkit-transform: scale(1.05, 1.05);
	/* Safari */
	transform: scale(1.05, 1.05);
	z-index: 1000;
	-webkit-box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
	-moz-box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
	box-shadow: inset 0px 0px 218px 95px rgba(56,56,56,0.80);
}

.navbar-apresentacao{
	/*background-image:url(../img/dreamstime_xxl_31610749.png);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 100px 0px rgba(0,0,0,0.75);*/
	background-color: #ebf0f6;
	color: rgba(106,106,106,1.00);
	/*box-shadow: 0px 0px 50px #ccc;*/
}
.apresentacao{
	text-align:center;
	color:rgba(255,255,255,1.00);
	line-height:3rem;
	margin-top:5rem;
	margin-bottom:5rem;

}

.strong-borda{
	line-height:6rem;
	border-bottom: solid 5px rgba(255,202,0,1.00);
}

.video-texto{
	width:77%;
	margin-top:5rem;
	margin-bottom:5rem;
	text-align:justify;
}

.texto-cor{
	 color:rgba(0,106,177,1.00);
}

.texto-area{
	color:rgba(106,106,106,1.00)
}

.caixa-text{
	background-color:rgba(0,142,206,1.00);
	color:rgba(255,255,255,1.00);
	padding:4rem;
	margin-top:3rem;
	margin-bottom:3rem;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	font-size:18px;
}

.bot{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

.n{
	overflow:hidden;
}

.pq{
	background-color:rgba(255,202,0,1.00);
	padding:8rem;
	transition: 0.5s;
	cursor:default;
	color:rgba(106,106,106,1.00);
	min-height:280px;
}
.pq:hover {
	transition: 0.5s;
	-ms-transform: scale(1.08, 1.08);
	/* IE 9 */
	-webkit-transform: scale(1.08, 1.08);
	/* Safari */
	transform: scale(1.08, 1.08);
	z-index: 1000;
}
.pq2{
	background-color:rgba(255,172,0,1.00);
}

.poiter{
	cursor:pointer;
}

.section-formulario{
    background-color: #ebf0f6;
}

.div-formulario{
	margin:10px;
	padding:10px;
}

.form-cadastro{
	margin:5px;
	padding:5px;
}

.tituto_chamada{
	padding:10px;
}

.redes{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.redes a{
	text-decoration:none;
}

.formulario{
  padding: 5rem;
}
.bv{
  margin: 3rem auto;
}

.escolha{
  margin-bottom: 2rem;
}

.acessar{
  margin-top: -7px;
}

.bttn-pill{
  background: #d7e9f9;
}

.area{
  height:5rem;
}

.nomecurso{
  height:14rem;
}

.embed-responsive{
	min-height: 65rem !important;
}
