header {
  border-top: 5px solid #99cc03;
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  background-color: #ffcc03; }

/*teste normal*/
.tatu {
  background-color: #ffcc03; }
  .tatu li {
    display: block; }
    .tatu li ul {
      color: #fff; }
  .tatu li::before {
    content: '';
    display: block; }

/*# sourceMappingURL=style.css.map */
