$topo: #e4dede;
$topo_baixo:#4e6db0;
$link_menu:#333 !important;
@mixin circular{ border-radius: 30px}
@mixin replacement{ overflow: hidden; text-indent: -200000px}
body{ height: 100%;font-family: 'Open Sans', sans-serif!important;}
.topo_site{ background-color: $topo; height: 70px; border-bottom:1px solid  $topo_baixo;
  .logo{@include replacement; background: url('../img/logo.png') center center no-repeat; height: 100%; background-size: 80%; min-width: 120px;

  }

  .f_busca{ @include circular; margin: 7px 2px}
.btn-default{ border-left: none}
li{ list-style: none; float: left; margin: 1em ;
a{ text-decoration: none; color: $link_menu; font-weight: bold; font-size: 1.1em; text-transform: uppercase}
&:hover, .ativo{border-bottom: 3px solid #f39c12; padding-bottom: 5px;transition: 0.2s}

}
}
.intern1{  margin-top: 10px;
color:#999999 !important;
h1{ color:#306A93}

}
.expositor{background: url('../img/fundo_slide.jpg') center top no-repeat #1C5883;
img{ width: 100%;}
h1{ font-size: 4.6em; text-transform: uppercase;color:#fff; margin: 0 !important; padding: 0 !important;}
h3{color: #FFCB00; margin-top: 80px !important}
}
.slide{ padding-top: 3%; background: url('../img/fundo_slide.jpg') center top no-repeat #1C5883; overflow:hidden; min-height: 600px;  line-height: 140%;
  .conversao{ margin: 20px auto ; padding: 20px; font-size: 1.5em; width: 98%; }
 img{ width: 90% !important}
 h1{ text-transform: uppercase; margin-top: 10px; color:#fff; font-weight: bold; font-size: 4em}
 h3{ margin-bottom: 10px !important;color: #FFCB00}
 span{color:#fff; font-size: 1.2em}
}
@media (max-width: 500px) { .direitos{ text-align: center;}.slide img{width: 60%  }

 }
.abrir_menu{    font-size: 1.7em;    margin-top: 24px}
header{clear: both; }

.btn_responsivo{ background-color: #1C5883; float: left; height: 35px; width: 35px; text-align: center; font-size:2em; margin: 10px; color:#fff; cursor: pointer;}
.navega{ position: absolute; background-color: #99cc03; width: 60px; height: 70px;}
.voltar,.avancar{display: none; cursor:pointer; top: 335px; @include replacement;}

@media (max-width: 500px) { .voltar,.avancar{ cursor:pointer; top: 495px; display: none; @include replacement;}
}

.avancar{ right:0;background: url('../img/voltar.png') center center no-repeat; }
.voltar{ background: url('../img/avancar.png') center center no-repeat; };
.img_destaque{ margin-top: 50px;}
.vantagens{ color:#fff; padding-bottom: 10px;}
.video{  width: 100%  !important; margin: 20px auto;
}
.tituto_chamada{ border-bottom: 3px solid #E28233; font-size: 2em;color:#16486C}
footer{color:#797878; background-color: #E4DEDE;h2{ font-size: 20px !important;} aside{background-color:#3a3a3a;color: #fff; font-size: 0.8em; padding: 8px;li{ list-style: none !important; float: left; margin: 0 5px;} a{ text-decoration: none; color:#fff !important;} img{ height: 20px; margin:0 5px }}
}
.unidades{ul{ margin: 0; padding: 0 !important} li{ list-style: none; margin: 3px -35px; padding: 0}}
.logo_rodape{@include replacement; background: url('../img/logo.png') center center no-repeat; height: auto; background-size: 70%; width: 90%; margin-top: 50px;}
.cartoes img{ margin: 10px auto;}
.redesocial{@include replacement;margin: 5px; width: 35px; height: 34px;float: left; background-color: #333; background-repeat: no-repeat;transition: 0.5s; cursor:pointer}
.fc:hover{ background: url('../img/icon_face.gif') }
.yt:hover{ background: url('../img/icon_yt.gif') }
.gp:hover{background: url('../img/icon_gp.gif')
 }
.ld:hover{background: url('../img/icon_in.gif') }
.tw:hover{background: url('../img/icon_tw.gif') }
.fc{ background: url('../img/icon_face_h.gif') }
.yt{ background: url('../img/icon_yt_h.gif') }
.gp{background: url('../img/icon_gp_h.gif')
 }
.ld{background: url('../img/icon_in_h.gif') }
.tw{background: url('../img/icon_tw_h.gif') }
.fases{@include replacement; transition: 0.3s;margin-top:15px; margin-bottom: 10px; background-size: contain; height: 140px; cursor: pointer}



.fase1{background:url('../img/fase1.png') no-repeat}
.fase2{background:url('../img/fase2.png') no-repeat}
.fase3{background:url('../img/fase3.png') no-repeat}
.fase4{background:url('../img/fase4.png') no-repeat}
.fase1:hover{background:url('../img/fase1_hover.png') no-repeat}
.fase2:hover{background:url('../img/fase2_hover.png') no-repeat}
.fase3:hover{background:url('../img/fase3_hover.png') no-repeat}
.fase4:hover{background:url('../img/fase4_hover.png') no-repeat}
.setas{
  width: 0;
  height: 0;

  position: absolute;
  top: 120px;
  z-index: 1000000000000000000000000000;
}.lsetas{
  width: 0;
  height: 0;

  position: absolute;
  top: 42px;
  z-index: 1000000000000000000000000000;
}
.seta1{   border-top: 15px solid #E74C3C;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;}
.seta2{   border-top: 15px solid #E67E22;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;}
.seta3{   border-top: 15px solid #F1C40F;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;}
  .seta4{  border-top: 15px solid #D7BE59;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;}


  .fs{ display: none};
  .f1{ background-color:#E74C3C !important }
  .f2{ background-color:#E67E22 !important }
  .f3{ background-color:#F1C40F !important }
  .f4{ background-color:#D7BE59 !important }
  .depoimento{color:#6D6B6B; overflow: hidden;background-color: #F3F9F8; width: 100%; border:1px dotted #E6F2F0; margin: 20px  auto; padding: 20px 5px;
img{ float: left; margin:10px; width: 30%}
h2{ font-size: 1.7em !important; padding: 0; margin: 0;}
h3{ font-size: 0.8em; margin: 5px 0; padding: 0; color:#16486C; font-weight: bold;}



  }
  .busca_hide{ display: none; padding: 10px;}
  .depoimento_texto{ float: left; width: 60%}
  @import url('https://fonts.googleapis.com/css?family=Catamaran');
  .adendo::after {
    font-family: 'Catamaran', sans-serif;
    content: '"';
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -20px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
    text-align: center;
    line-height: 93px;
        font-size: 6em;
  }
  @media (max-width: 600px) {  .depoimento_texto{ float: left; width: 60%}
    @import url('https://fonts.googleapis.com/css?family=Catamaran');
    .adendo::after {
      font-family: 'Catamaran', sans-serif;
      content: '"';
      background-color: #fff;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -20px;
      -webkit-border-radius: 180px;
      -moz-border-radius: 180px;
      border-radius: 180px;
      text-align: center;
      line-height: 93px;
          font-size: 6em;
    } }
    .produtos{ color:#fff; padding: 10px; overflow: hidden; img{ float: right; margin: 5px;} h2{ margin: 0; padding: 3px 0;font-size: 1.5em;} span{ font-size: 0.5}
button{ display: block}
  }
    .coluna_verde{ background-color:#01AAAD }
    .coluna_vermelha{ background-color:#E74C3C }
    .coluna_azul{ background-color:#2980B9 }
    .preco{ background: #3498DB; color:#fff; text-align: center; float: right; width: 40%; margin-bottom: 10px; padding: 5px;  cursor: pointer;
    &:hover{ background-color: #15537B; color:#fc0; text-decoration: none !important;}}
    .opcao{ transition: 0.5s;cursor:pointer; position: relative; width: 25%; height: 250px; text-align: center;background-color: #333; margin: 10px 0; float: left; color:#fff; padding: 10px; h2{padding: 0; margin-top: 30px;}
&:hover{ transition: 0.5s;   -ms-transform: scale(2, 3); /* IE 9 */
    -webkit-transform: scale(2, 3); /* Safari */
    transform: scale(1.08, 1.08); z-index: 1000};
  }
    .motivo{ position: relative;}
    .opcao1{ background-color: #B63B6A}
    .opcao1::after{    content: '1';
    font-size: 2em;
    width: 50px;
    height: 50px;
    background-color: #9C244A;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;}

    .opcao2{background-color: #F13C6E}
    .opcao2::after{    content: '2';
    font-size: 2em;
    width: 50px;
    height: 50px;
    background-color: #EB2A56;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;}
    .opcao3{background-color: #F6772C}
    .opcao3::after{    content: '3';
    font-size: 2em;
    width: 50px;
    height: 50px;
    background-color:#F25E1E;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;}
    .opcao4{background-color: #FFBB42}
    .opcao4::after{    content: '4';
    font-size: 2em;
    width: 50px;
    height: 50px;
    background-color: #F9A32D;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;}


@media (max-width: 500px) {
.opcao{ height: auto !important;transition: 0.5s;cursor:pointer; position: relative; width: 98%; text-align: center;background-color: #333; margin: 5px  auto;  color:#fff; padding: 10px; h2{padding: 0; margin-top: 30px;}
&:hover{ transition: 0.5s;   -ms-transform: scale(2, 3); /* IE 9 */
  -webkit-transform: scale(2, 3); /* Safari */
  transform: scale(1.05, 1.05); z-index: 1000};
}
  .motivo{ position: relative;}
  .opcao1{ background-color: #B63B6A}
  .opcao1::after{    content: '1';
  font-size: 2em;
  width: 40px;
  height: 40px;
  background-color: #9C244A;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;}

  .opcao2{background-color: #F13C6E}
  .opcao2::after{    content: '2';
  font-size: 2em;
  width: 40px;
  height: 40px;
  background-color: #EB2A56;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;}
  .opcao3{background-color: #F6772C}
  .opcao3::after{    content: '3';
  font-size: 2em;
  width: 40px;
  height: 40px;
  background-color:#F25E1E;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;}
  .opcao4{background-color: #FFBB42}
  .opcao4::after{    content: '4';
  font-size: 2em;
  width: 40px;
  height: 40px;
  background-color: #F9A32D;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;}}
  .outros_cursos{ transition: 0.3s;text-align: center; color:#fff; background-color: #1D5B87; padding: 10px; display: block;
  &:hover{transition: 0.3s; color:#fff; background-color: #3498DB; text-decoration: none}}
  .slide{ display:none;}
  .menu_responsividade{
left:-450px;
    top:20px;
    width: 440px;
    height: auto;
    position: absolute;
    background-color: #fff;
    z-index: 1000000;
    padding: 10px;
    text-align: center;
    padding-bottom: 40px;
    .fechar{  margin: 10px; position: absolute; top:10px; right:10px; font-size: 1em;}
    ul{ list-style: none; margin:0 0; padding: 0}
    li{
      background-color:#E4DEDE; padding:10px; margin: 5px; text-align: center;
      &:hover{ background-color:#3598DB; color:#fff !important; }
     }
      a{color:#333 !important; text-decoration: none;
        &:hover{ color:#fff !important;}
      }

}
.box_cinza{ background-color:#F3F9F8; padding: 10px;color: #6D6B6B !important;
img{ margin: 10px; width: 100%;}
h3{ margin: 0; padding: 0; font-size: 1em; color:#fff}
h2{ margin: 5px 0 ; font-weight: bold; padding: 0; font-size: 2em; ;}
 }
 .prof{@include replacement; transition: 0.3s;margin-top:15px; margin-bottom: 10px; background-size: contain; height: 60px; cursor: pointer}
 .prof1{background:url('../img/prof1.jpg') no-repeat}
 .prof2{background:url('../img/prof2.jpg') no-repeat}
 .prof3{background:url('../img/prof3.jpg') no-repeat}

 .prof1:hover{background:url('../img/prof1_hover.jpg') no-repeat}
 .prof2:hover{background:url('../img/prof2_hover.jpg') no-repeat}
 .prof3:hover{background:url('../img/prof3_hover.jpg') no-repeat}
 .it2,.it3,.seta2,.seta3,.seta4{ display:
    none}
    .intern1 { color:#fff !important;}
    .inter{color: #6D6B6B 1important}
    .disciplinas{ margin-top: 30px;}
.branco{color:#fff!important; margin: 0; padding: 0;}
