$cor-padrao: lighten(#99cc03,0);
@import "mixins";


header {
  border-top: 5px solid $cor-padrao;
  @include sombra-padrao;
  @include name;
}
/*teste normal*/
//teste doido
.tatu{
  @include name;
   li{ display: block;
     ul{ color:#fff;}

   }
   li::before{
     content: '';
     display: block;


   }
}
